<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chervon.iot.ablecloud.mapper.AbleDeviceErrorsMapper" >
  <resultMap id="BaseResultMap" type="com.chervon.iot.ablecloud.model.AbleDeviceErrors" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sn" property="sn" jdbcType="VARCHAR" />
    <result column="recoverable" property="recoverable" jdbcType="BIT" />
    <result column="device" property="device" jdbcType="VARCHAR" />
    <result column="fault" property="fault" jdbcType="VARCHAR" />
    <result column="isfixed" property="isfixed" jdbcType="BIT" />
    <result column="timestamp" property="timestamp" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, sn, recoverable, device, fault, isfixed, timestamp
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.chervon.iot.ablecloud.model.AbleDeviceErrorsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from able_device_errors
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from able_device_errors
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from able_device_errors
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.chervon.iot.ablecloud.model.AbleDeviceErrorsExample" >
    delete from able_device_errors
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.chervon.iot.ablecloud.model.AbleDeviceErrors" >
    insert into able_device_errors (id, sn, recoverable,
    device, fault, isfixed,
    timestamp)
    values (#{id,jdbcType=INTEGER}, #{sn,jdbcType=VARCHAR}, #{recoverable,jdbcType=BIT},
    #{device,jdbcType=VARCHAR}, #{fault,jdbcType=VARCHAR}, #{isfixed,jdbcType=BIT},
    #{timestamp,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.chervon.iot.ablecloud.model.AbleDeviceErrors" >
    insert into able_device_errors
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sn != null" >
        sn,
      </if>
      <if test="recoverable != null" >
        recoverable,
      </if>
      <if test="device != null" >
        device,
      </if>
      <if test="fault != null" >
        fault,
      </if>
      <if test="isfixed != null" >
        isfixed,
      </if>
      <if test="timestamp != null" >
        timestamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sn != null" >
        #{sn,jdbcType=VARCHAR},
      </if>
      <if test="recoverable != null" >
        #{recoverable,jdbcType=BIT},
      </if>
      <if test="device != null" >
        #{device,jdbcType=VARCHAR},
      </if>
      <if test="fault != null" >
        #{fault,jdbcType=VARCHAR},
      </if>
      <if test="isfixed != null" >
        #{isfixed,jdbcType=BIT},
      </if>
      <if test="timestamp != null" >
        #{timestamp,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chervon.iot.ablecloud.model.AbleDeviceErrorsExample" resultType="java.lang.Integer" >
    select count(*) from able_device_errors
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update able_device_errors
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.sn != null" >
        sn = #{record.sn,jdbcType=VARCHAR},
      </if>
      <if test="record.recoverable != null" >
        recoverable = #{record.recoverable,jdbcType=BIT},
      </if>
      <if test="record.device != null" >
        device = #{record.device,jdbcType=VARCHAR},
      </if>
      <if test="record.fault != null" >
        fault = #{record.fault,jdbcType=VARCHAR},
      </if>
      <if test="record.isfixed != null" >
        isfixed = #{record.isfixed,jdbcType=BIT},
      </if>
      <if test="record.timestamp != null" >
        timestamp = #{record.timestamp,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update able_device_errors
    set id = #{record.id,jdbcType=INTEGER},
    sn = #{record.sn,jdbcType=VARCHAR},
    recoverable = #{record.recoverable,jdbcType=BIT},
    device = #{record.device,jdbcType=VARCHAR},
    fault = #{record.fault,jdbcType=VARCHAR},
    isfixed = #{record.isfixed,jdbcType=BIT},
    timestamp = #{record.timestamp,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.chervon.iot.ablecloud.model.AbleDeviceErrors" >
    update able_device_errors
    <set >
      <if test="sn != null" >
        sn = #{sn,jdbcType=VARCHAR},
      </if>
      <if test="recoverable != null" >
        recoverable = #{recoverable,jdbcType=BIT},
      </if>
      <if test="device != null" >
        device = #{device,jdbcType=VARCHAR},
      </if>
      <if test="fault != null" >
        fault = #{fault,jdbcType=VARCHAR},
      </if>
      <if test="isfixed != null" >
        isfixed = #{isfixed,jdbcType=BIT},
      </if>
      <if test="timestamp != null" >
        timestamp = #{timestamp,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chervon.iot.ablecloud.model.AbleDeviceErrors" >
    update able_device_errors
    set sn = #{sn,jdbcType=VARCHAR},
      recoverable = #{recoverable,jdbcType=BIT},
      device = #{device,jdbcType=VARCHAR},
      fault = #{fault,jdbcType=VARCHAR},
      isfixed = #{isfixed,jdbcType=BIT},
      timestamp = #{timestamp,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getDeviceErrorByID" parameterType="string" resultType="com.chervon.iot.ablecloud.model.Able_ResponseDeviceError">
    SELECT de.id, de.sn, de.recoverable, de.timestamp, dt.type_name, ded.code, ded.desc
    from able_device_errors de, able_device_errordesc ded, able_device_type dt
    where de.sn = #{device_id, jdbcType=VARCHAR} and de.device = dt.type and de.fault = ded.code
  </select>
</mapper>